.search-btn{
    height: 52px;
    width: 100px;
    background-color: orange;
    border: none;
    font-weight: bold;
    color: white;
    box-shadow: 1px 0px 6px 0px grey;
    position:relative;
}

.search-bar{
    height: 50px;
    width: 350px;
    box-shadow: -1px 0px 6px 0px grey;
    border: orange;
}

::placeholder{
    padding-left:20px;
}

.search{
    position:relative;
}

.err-message{
    text-align: left;
    position: absolute;
    left: 16%;
    color: red;
    font-size: 14px;
}

@media (min-width: 300px) and (max-width: 700px) {
.search-bar{
    height: 50px;
    width: 232px;
    box-shadow: -1px 0px 6px 0px grey;
    border: orange;
}

.search-btn{
    margin-top:10%;
}
}